// color setting
$text-white: #ffffff;
$text-black: #1c1c1c;
$text-gray: #657786;
$ac-orange: #ff6600;
$link-skyblue: #0099ff;
$default-hint-color: #657786;
$active-hint-color: #50b5ff;
$error-hint-color: #fc5a5a;
$input-bg-color: #f5f8fa;
$border-gray: #e6ecf0;
$like-red: #e0245e;
$reply-modal-line: #ccd6dd;
$popular-bg: #f5f8fa;

$logo-url: url(../images/Logo.png);

* {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  color: $text-black;
}

#twitter-app {
  height: 100vh;
  width: 100vw;
  max-width: 1305px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  overflow-y: hidden;

  main {
    height: 100vh;
    // width: 1010px;
    flex-grow: 1;
    min-height: 100vh;
    // 選擇 main 下一個層級的 div = 選擇 router-link
    > div {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      section.center-view {
        flex-grow: 1;
        height: 100%;
        overflow-x: auto;
        border-right: 1px solid $border-gray;
        border-left: 1px solid $border-gray;
        // scrollbar setting - make scrollbar transparent */
        &::-webkit-scrollbar {
          display: none;
        }
        &::-webkit-scrollbar {
          background: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
        }
      }
      section.right-card {
        flex-basis: 400px;
      }
    }
  }
}

// 文字設定
h2 {
  font-size: 18px;
  font-weight: 700;
  color: $text-black;
  cursor: default;
}

.user-name-text {
  font-size: 15px;
  font-weight: 700;
  color: $text-black;
}

.user-account-text {
  font-size: 15px;
  font-weight: 500;
  color: $text-gray;
}

.reply-account-13 {
  font-size: 13px;
  font-weight: 500;
  color: $text-gray;
}

.reply-account-15 {
  font-size: 15px;
  font-weight: 500;
  color: $text-gray;
}

.description-15 {
  font-size: 15px;
  font-weight: 500;
  color: $text-black;
}
.description-23 {
  font-size: 23px;
  font-weight: 500;
  color: $text-black;
}

.count-13 {
  font-size: 13px;
  font-weight: 500;
  color: $text-gray;
}

// 按鈕設定
.btn {
  width: 100%;
  height: 38px;
  border-radius: 30px;
  background-color: $ac-orange;
  color: $text-white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}

// 大頭貼
.avatar-50 {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
