// icon URL
$home-url: url(../images/home.svg);
$person-url: url(../images/person.svg);
$setting-url: url(../images/setting.svg);
$logout-url: url(../images/logout.svg);

$home-orange-url: url(../images/home_orange.svg);
$person-orange-url: url(../images/person_orange.svg);
$setting-orange-url: url(../images/setting_orange.svg);

.navbar {
  padding-left: 30px;
  width: 295px;
  height: 100vh;
  &_brand {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
    &_logo {
      width: 50px;
      height: 50px;
      background-image: $logo-url;
    }
  }
  .link {
    display: block;
  }
  &_link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &_content {
      margin-left: 12px;
      margin-bottom: 20px;
      display: flex;
    }
    &_icon {
      width: 24px;
      height: 24px;
      background-size: 100% 100%;
      &_home-page {
        background-image: $home-url;
      }
      &_user-page {
        background-image: $person-url;
      }
      &_setting-page {
        background-image: $setting-url;
      }
      &_logout {
        background-image: $logout-url;
      }
    }
    &_text {
      display: inline;
      margin-left: 24px;
    }
    &_tweet-launch {
      width: 210px;
      margin-top: 10px;
    }
    &_logout {
      margin-top: 55vh;
    }
    .active {
      .navbar_link {
        &_icon {
          &_home-page {
            background-image: $home-orange-url;
          }
          &_user-page {
            background-image: $person-orange-url;
          }
          &_setting-page {
            background-image: $setting-orange-url;
          }
        }
        &_text {
          color: $ac-orange;
        }
      }
    }
  }
}
