.popular {
  padding: 15px 0 0 30px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &__card {
    border-radius: 14px;
    width: 350px;
    background-color: $popular-bg;
    position: relative;
    &__title {
      padding-top: 13px;
      padding-left: 15px;
      text-align: start;
      margin-bottom: 10px;
      position: sticky;
    }
    &__user {
      height: 70px;
      border-top: 1px solid $border-gray;
      align-items: center;
      justify-content: space-between;
      &__avatar {
        margin-left: 15px;
        margin-right: 10px;
      }
      &__name {
        flex-grow: 1;
        align-items: flex-start;
        line-height: 18px;
        .user-name-text {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      &__button {
        margin-right: 13px;

        .btn-follow {
          width: 60px;
          height: 35px;
          border-radius: 30px;
          border: 1px solid $ac-orange;
          color: $ac-orange;
          font-size: 15px;
          font-weight: 700;
        }
        .btn-following {
          width: 90px;
          height: 35px;
          border-radius: 30px;
          background-color: $ac-orange;
          color: $text-white;
          font-size: 15px;
          font-weight: 700;
        }
      }
    }
  }
}
