.profile-card {
  width: 100%;
  &__pictures {
    position: relative;
    img {
      object-fit: cover;
    }
    &__cover {
      height: 200px;
    }
    &__avatar {
      position: absolute;
      top: 124px;
      left: 14px;
      height: 140px;
      width: 140px;
      border-radius: 50%;
      border: 4px solid #fff;
      background-color: $input-bg-color;
    }
  }
  &__profile {
    padding: 10px 15px 36px 15px;
    text-align: left;
    &__action-buttons {
      min-width: 140px;
      margin-left: 155px;
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
      justify-content: flex-end;
      &__social-actions {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        justify-content: flex-end;
        &__message {
          background: url(../images/message.svg);
        }
        &__notification-on {
          background: url(../images/notification-on-white.svg);
          background-color: $ac-orange;
        }
        &__notification-off {
          background: url(../images/notification-off.svg);
        }
        span.icon {
          display: inline-block;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: 1px solid $ac-orange;
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          &:hover {
            opacity: 0.9;
          }
          &:active {
            opacity: 1;
          }
        }
        span.btn {
          width: auto;
          padding: 10px 15px;
          font-weight: 700;
          font-size: 15px;
          line-height: 15px;
          display: flex;
          align-items: center;
        }
        &__follow.inactive {
          background-color: white;
          color: $ac-orange;
          border: 1px solid $ac-orange;
        }
      }
      &__profile-setting {
        width: auto;
        padding: 10px 15px;
        background-color: transparent;
        color: $ac-orange;
        border: 1px solid $ac-orange;
        font-weight: 700;
        font-size: 15px;
        line-height: 15px;
        display: flex;
        align-items: center;
      }
    }
    &__name {
      margin-top: 24px;
      font-weight: 900;
      font-size: 19px;
      line-height: 28px;
    }
    &__account {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $default-hint-color;
    }
    &__introduction {
      padding: 10px 0;
      font-size: 14px;
      line-height: 20px;
    }
    &__social-count {
      display: flex;
      gap: 20px;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $default-hint-color;
      &__follow__count {
        color: $text-black;
      }
    }
  }
}

.feeds-nav-pills {
  width: 100%;
  border-bottom: 1px solid $border-gray;
  display: flex;
  &__feeds-categories {
    display: inline-block;
    width: 130px;
    padding: 14px 0;
    color: $default-hint-color;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    &.active {
      border-bottom: 2px solid $ac-orange;
      color: $text-black;
    }
  }
}

.user-feed-list {
  .feed {
    padding: 10px 15px 15px;
    border-bottom: 1px solid $border-gray;
    display: flex;
    gap: 10px;
    @extend %tweet-block-hover-effect;

    &__avatar {
      &__img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        background-color: $input-bg-color;
        @extend %avatar-hover-effect;
      }
    }

    &__detail {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 6px;
      text-align: left;
      line-height: 22px;
      font-size: 15px;
      &__author {
        &__name {
          padding-right: 5px;
          font-weight: 700;
          &:hover {
            text-decoration: underline;
          }
        }
        &__account,
        &__post-time {
          font-weight: 500;
          color: $default-hint-color;
        }
      }
      &__reply-to {
        font-weight: 500;
        color: $default-hint-color;
        &__account {
          color: $ac-orange;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__comment {
        font-weight: 500;
      }
      &__social-count {
        width: 100%;
        display: flex;
        gap: 50px;
        font-size: 13px;
        font-weight: 500;
        color: $default-hint-color;

        &__reply-count,
        &__like-count {
          display: flex;
          gap: 11px;
          align-items: center;
        }

        &__reply-count__icon {
          background: url(../images/reply.svg);
        }
        &__like-count__icon {
          background: url(../images/like.svg);
        }
        &__like-count__icon-red {
          background: url(../images/like-red.svg);
        }
        &__reply-count__icon,
        &__like-count__icon,
        &__like-count__icon-red {
          display: inline-block;
          height: 13px;
          width: 13px;
          background-size: contain;
          background-repeat: no-repeat;
          cursor: pointer;
        }
        &__like-count.active {
          color: $like-red;
        }
      }
    }
  }
}

.modal__profile-setting {
  margin: 0;
  .profile-setting-form {
    top: 54px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    min-height: 657px;
    border-radius: 14px;

    &__header {
      position: relative;
      padding: 15px;
      display: flex;
      align-items: center;
      font-size: 19px;
      font-weight: 700;
      line-height: 28px;

      &__close-icon {
        background: url('../images/cross.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      &__title {
        margin: 0 44.5px;
      }
      &__save-btn {
        position: absolute;
        right: 15px;
        top: 15px;
        height: 28px;
        width: auto;
        padding: 5px 15px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;

        &:disabled {
          opacity: 0.7;
        }
      }
    }

    &__pictures {
      position: relative;
      &__cover {
        position: relative;
        width: 600px;
        height: 200px;
        padding: 0 1px;
        background-color: $default-hint-color;
        &__img {
          width: 598px;
          height: 100%;
          object-fit: cover;
          
        }
        &__btns {
          position: absolute;
          z-index: 15;
          top: 50%;
          transform: translateY(-50%);
          height: 24px;
          width: 598px;
          display: flex;
          justify-content: center;
          gap: 34.5px;

          &__add-icon {
            background: url('../images/icon_uploadPhoto-white.svg');
          }
          &__delete-icon {
            background: url('../images/icon_delete-white.svg');
          }
          &__add-icon,
          &__delete-icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
          }
        }
      }
      &__avatar {
        position: absolute;
        top: 140px;
        left: 15px;
        width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: $input-bg-color;
        &__img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 4px solid white;
          
        }
        &__add-icon {
          background: url('../images/icon_uploadPhoto-white.svg');
          display: inline-block;
          width: 20px;
          height: 20px;
          position: absolute;
          z-index: 15;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          background-size: contain;
          background-repeat: no-repeat;
          cursor: pointer;
        }
      }
      &__file-input {
        display: none;
      }
    }

    &__body {
      width: 100%;
      padding: 80px 15px 0;
      display: flex;
      flex-direction: column;
      gap: 42px;

      .form-row {
        width: 100%;
        height: 55px;
        position: relative;
        background-color: $input-bg-color;
        &__label {
          position: absolute;
          top: 5px;
          left: 15px;
          font-size: 15px;
          line-height: 15px;
          font-weight: 500;
          color: $default-hint-color;
        }
        &__input {
          width: 100%;
          padding: 22px 15px 4px 15px;
          border-color: transparent;
          border-bottom: 2px solid $default-hint-color;
          background-color: transparent;
          font-size: 19px;
          font-weight: 500;
          line-height: 27px;
          color: $text-black;
          vertical-align: text-bottom;
          &:hover,
          &:active,
          &:focus {
            border-bottom: 2px solid $active-hint-color;
          }
          &.invalid {
            border-bottom: 2px solid $error-hint-color;
          }
        }
        &__length-counter {
          position: absolute;
          bottom: -22px;
          right: 0;
          font-size: 15px;
          font-weight: 500;
          line-height: 15px;
          color: $default-hint-color;
        }
        &__error-message {
          margin: 5px 0;
          text-align: left;
          font-size: 15px;
          font-weight: 500;
          line-height: 15px;
          color: $error-hint-color;
        }
      }
      &__introduction {
        &.form-row {
          height: 148px;
          textarea {
            height: 148px;
            // scrollbar setting - make scrollbar transparent */
            &::-webkit-scrollbar {
              display: none;
            }
            &::-webkit-scrollbar {
              background: transparent;
            }
            &::-webkit-scrollbar-thumb {
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
